$blue: #187891;
$gray: #3A4B4C;

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

html, body {
  height: 100%;
}

body > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.select-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 2;
}

.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  min-height: 75px;
  position: fixed;

  background-color: $blue;

  width: 100%;
  z-index: 999;

  .league {
    font-size: 24px;
    font-weight: bolder;

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: white;
    }
  }
}

.content {
  padding-top: 75px;
}

.team-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .loading {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.team-card {

  .highlighted {
    border: thin solid $blue;
    border-radius: 100%;
  }

}

.team-card-standard {
  width: 200px;
  height: 300px;

  margin: 20px;
  padding: 10px;

  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  .team-name, .original-team-name {
    height: 40px;
  }

  .team-name {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    .team-name-edit {
      display: flex;
      flex-direction: column;

      height: 80px;

      max-width: 75%;
    }

    .edit-buttons {
      display: flex;
      flex-direction: column;
    }
  }

  .origin-team-name {
    background-color: darkgray;
  }

  .image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    img {
      width: 150px;
      height: 150px;

      max-width: 150px;
      max-height: 150px;
    }
  }
}

.team-card-collapsed {
  width: 100px;
  height: 150px;

  .team-name, .original-team-name {
    height: 40px;
  }

  .team-name {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    .team-name-edit {
      display: flex;
      flex-direction: column;

      height: 80px;

      max-width: 75%;
    }

    .edit-buttons {
      display: flex;
      flex-direction: column;
    }
  }

  .image-container {

    display: flex;
    justify-content: center;
    padding: 20px 0;

    img {
      width: 50px;
      height: 50px;

      max-width: 50px;
      max-height: 50px;
    }
  }
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .game {
    justify-content: center;

    width: 100%;

    border-bottom: thin solid #f3f3f3;
    margin-top: 25px;

    position: relative;

    .old {
      opacity: .5;
    }

    .next-game {
      position: absolute;
      left: 0;
      width: 10px;
      height: 100%;
      background-color: steelblue;
    }

    .game-date {
      display: flex;
      align-items: center;
    }
  }

  .team-header {
    position: fixed;
    z-index: 1000;

    width: 100%;
    display: flex;
    justify-content: center;

    background-color: $gray;

    color: white;

    .team-card {
      height: inherit;
      width: inherit;

      justify-content: center;
      align-items: center;

      .team-name {
        align-items: center;
      }

      .image-container {
        padding: 5px 0;
      }
    }
  }

  .opponent-container {
    padding-top: 50px;

    .home-away {
      padding: 10px 0 50px 0;
      text-align: center;
      font-weight: bold;

      opacity: 1;
    }

    .home-away > div{
      width: 100px;
      margin-left: 10vw;
    }

    .team-card {
      margin-left: 10vw;
    }

  }

}








.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
