<div class="teams team-grid">
  {{#if teams.isLoading}}
    <div class="loading">
      <div class="loader"></div>
      <div>LOADING</div>
    </div>
  {{else}}

    {{#each sortedTeams as |team|}}
      {{team-card team=team canEdit=true}}
    {{else}}
        <div>No teams loaded! :(</div>
    {{/each}}

  {{/if}}
</div>